body {
  background-image: url("../../../public/assets/background.svg") !important;
  background-size: contain !important;
  background-color: #1a2747 !important;
}
/*Navbar styling*/
.ui.inverted.top.fixed.menu {
  background-color: #02bb6e !important;
}

.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

/*Filter sidebar styling*/

.react-calendar{
  width:100%;
  border: none;
  box-shadow:0 1px 2px 0 rgba(34,36,38,.15);
}

/*Homepage styling*/
.masthead {
  display: flex;
  align-items: center;
  background-image: url("../../../public/assets/background.svg") !important;
  background-color: #1a2747 !important;
  background-size: contain !important;

  height: 100vh;
  
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
  border-color:black;


}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: 900;

}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.masthead h2.ui.inverted.header {
  color:white;
}

.masthead a.ui.huge.inverted.button {
  color: white;
  border: white;
}


.ui.sub.header {
  color: white;
}

.h1.ui.header{
  color: white;
}