body {
  background-image: url("../../../public/assets/background.jpg") !important;
  background-size: contain !important;
}
/*Navbar styling*/
.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    160deg,
    #173f1c 10%,
    #2e6034 60%,
    #177323 80%
  ) !important;
}

.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

/*Filter sidebar styling*/

.react-calendar{
  width:100%;
  border: none;
  box-shadow:0 1px 2px 0 rgba(34,36,38,.15);
}

/*Homepage styling*/
.masthead {
  display: flex;
  align-items: center;
  background-image: url("../../../public/assets/background.jpg") !important;
  background-size: contain !important;
  height: 100vh;
  
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
  border-color:black;


}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
  color:black;

}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
  color:black;
}

.masthead h2.ui.inverted.header {
  color:black;
}

.masthead a.ui.huge.inverted.button {
  color: black;
  border: black;
}